.s12 {
    background-color: rgb(12, 99, 99);
    color: white;
    text-align: center;
}
#header {
    height: 10px;
    position: relative;
    bottom: 30px;
}

.searchBar  {
    padding-left: 20px;
       
}
label {
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 10px;   
}

.dropDown{
    padding: 20px;
}

.dropDown-header {
    color: #9E9E9E;
    font-weight: bold;
    font-size: 18px;
}

 button{
    position: relative;
    left: 85px;
    margin-top: 30px;
}
.carousel {
    
}
/* .preCOVID {
    
}

.postCOVID {

}

.radioButton:hover {
    
} */








