html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
 }

.s12 {
    background-color: rgb(12, 99, 99);
    color: white;
    text-align: center;
    height: 115px;
}

#header {
    height: 10px;
    position: relative;
    bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.current-date {
    position: relative;
    bottom: 15px;
}

.searchBar  {
    padding-left: 20px;
    position: relative;
    bottom: 40px;
}

label {
    padding-left: 10px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    bottom: 150px;
}

.dropDown{
    padding: 20px;
    position: relative;
    bottom: 110px;
}

.dropDown-header {
    color: #9E9E9E;
    font-weight: bold;
    font-size: 18px;
}

#keywordSearch {
    position: relative;
    bottom: 25px;
}

#news-selector {
    position: relative;
    bottom: 20px;
}

 button{
    position: relative;
    left: 70px;
    bottom: 140px;
}

.carousel, .carusel-item {
    width: 800px !important;
    margin-left: 150px;
    height: fit-content;
}

.preCOVID, .postCOVID  { 
    background-color: none;
    border: rgb(12, 99, 99) 2px solid; 
}

.card-title{
    font-weight: bold !important;
    color: #696666;
    font-size: 20px;
    position: relative;
    bottom: 50px;
    display: inline-block;
}

#searchPanel {
    padding-top: 10px;
}

#guardianLogo {
    height: 60px;
    width: 60px;
    position: relative;
    left: 180px;
    top: 40px;
}

#NYTimesLogo {
    height: 80px;
    width: 80px;
    position: relative;
    left: 180px;
    top: 40px;
}

#word10{
    color: #ecd60ee5
}

#word9{
    color: #f0c859
}

#word8{
    color: #e0c33e
}

#word7{
    color: #fcad46
}

#word6{
    color: #fd8d3c
}

#word5{
    color: #fc4e2a
}

#word4{
    color: #e31a1c
}

#word3{
    color: #bd0026
}

#word2{
    color:#800026
}

#word1{
    color: #680321
}

.commonWords{
    font-size: 18px;
    position: relative;
    bottom: 40px;
}










