.s12 {
    background-color: rgb(12, 99, 99);
    color: white;
    text-align: center;
    text-decoration: wheat;  
}

.preCOVID {
    @extend .blue, .lighten-4;
}

.first-most {
    color: red;
}

.second-most {
    color: orange;
}

.third-most {
    color: yellow;
}

.fourth-most{
    color: lightblue;
}

.fifth-most {
    color: blue;
}

.sixth-most {
    color: darkblue;
}

.seventh-most {
    color: lightgreen;
}

.eighth-most {
    color: lightcyan;
}

.ninth-most {
    color: lightsalmon;
}

.tenth-most {
    color: brown;
}

.radioButton:hover {
    font-weight: bold;
}

#header {
    height: 8px;
    position: relative;
    bottom: 30px;
}

.carousel {
    width:300px !important;
    margin-left: auto;
    margin-right: auto;
}





